.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .image-container {
    margin-right: 20px;
  }
  
  .to-do-image {
    width: 600px;
    height: auto;
  }
  